# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/

# MacOS
.DS_Store

# General
*.log
*.swp
*.swo
.idea/
